/* sourcesanspro */
@font-face {
  font-family: 'sourcesanspro';
  src: url('../fonts/source-sans-pro.woff') format('woff');
}

/* opensanspro */
@font-face {
  font-family: 'opensanspro';
  src: url('../fonts/opensans-regular.woff') format('woff');
}

body {
  font-family: sourcesanspro;
}

form label {
  text-transform: capitalize;
}

.mw_50 {
  min-width: 50px;
}
.mw_100 {
  min-width: 100px;
}
.mw_150 {
  min-width: 150px;
}
.mw_200 {
  min-width: 200px;
}
.mw_250 {
  min-width: 250px;
}
.mw_300 {
  min-width: 300px;
}


